/* importar a fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');

/* Paleta de cores */
:root {
  /* Usado como cor de fundo do body (excluindo o sidebar) */
  --body: rgba(38, 41, 49, 1);

  /* Usado como cor secundária da land page (sidebar), em Títulos e outros elementos como cor complementar */

  /* ALTO CONTRASTE COM O <BODY> DE TODA APLICAÇÃO */
  --verde-vibrante: rgba(39, 174, 96, 1);

  /* ALTO CONTRASTE COM O <BODY> DE TODA APLICAÇÃO */
  --azul-vibrante: rgba(88, 101, 242, 1);

  /* Usado em sub-títulos, h2->h6, parágrafos e outros elementos como cor complementar */

  /* BAIXO CONTRASTE COM O <BODY> DE TODA APLICAÇÃO */
  --azul-aquamarine: rgba(52, 152, 219, 1);

  /* MÉDIO CONTRASTE COM O <BODY> DE TODA APLICAÇÃO */
  --azul-acizentado: rgba(72, 84, 96, 1);

  /* ALTO CONTRASTE  COM O <BODY> DE TODA APLICAÇÃO */
  --azul-contraste: rgba(41, 128, 185, 1);

  /* Usado em efeitos hover, borders e outros elementos como cor complementar */

  /* ALTO CONTRASTE COM O <BODY> DE TODA APLICAÇÃO */
  --verde-contraste: rgba(46, 204, 113, 1);

  /* BAIXO CONTRASTE COM O <BODY> DE TODA APLICAÇÃO */
  --verde-vibrante-light: rgba(39, 174, 96, 0.7);

  /* Usados sempre como cor complementar em qualquer elemento */

  /* BAIXÍSSIMO CONTRASTE COM O <BODY> DE TODA APLICAÇÃO, USAR PARA DAR UM EFEITO DE "TRANSPARÊNCIA" E JUNÇÃO COM O FUNDO DA PÁGINA */
  --cinza-auxiliar: rgba(58, 61, 69, 1);

  /* BAIXO CONTRASTE COM O <BODY> DE TODA APLICAÇÃO */
  --amarelo-auxiliar: rgba(241, 196, 15, 1);

  /* MÉDIO CONTRASTE COM O <BODY> DE TODA APLICAÇÃO, PODE SER USADO TAMBÉM PARA DAR UM EFEITO DE "TRANSPARÊNCIA" E JUNÇÃO COM O FUNDO DA PÁGINA */
  --branco-auxiliar: rgba(255, 255, 255, 1);

  /* ALTÍSSIMO CONTRASTE COM O <BODY> DE TODA APLICAÇÃO, USAR PARA DAR MUITA ÊNFASE EM UM ELEMENTO ESPECÍFICO */
  --vermelho-auxiliar: rgba(231, 76, 60, 1);

  /* Variações de opacidade da paleta de cores */

  /* --body */
  --body-0-9: rgba(38, 41, 49, 0.9);
  --body-0-8: rgba(38, 41, 49, 0.8);
  --body-0-7: rgba(38, 41, 49, 0.7);
  --body-0-6: rgba(38, 41, 49, 0.6);
  --body-0-5: rgba(38, 41, 49, 0.5);
  --body-0-4: rgba(38, 41, 49, 0.4);
  --body-0-3: rgba(38, 41, 49, 0.3);
  --body-0-2: rgba(38, 41, 49, 0.2);
  --body-0-1: rgba(38, 41, 49, 0.1);

  /* --verde-vibrante */
  --verde-vibrante-0-9: rgba(39, 174, 96, 0.9);
  --verde-vibrante-0-8: rgba(39, 174, 96, 0.8);
  --verde-vibrante-0-7: rgba(39, 174, 96, 0.7);
  --verde-vibrante-0-6: rgba(39, 174, 96, 0.6);
  --verde-vibrante-0-5: rgba(39, 174, 96, 0.5);
  --verde-vibrante-0-4: rgba(39, 174, 96, 0.4);
  --verde-vibrante-0-3: rgba(39, 174, 96, 0.3);
  --verde-vibrante-0-2: rgba(39, 174, 96, 0.2);
  --verde-vibrante-0-1: rgba(39, 174, 96, 0.1);

  /* --azul-vibrante */
  --azul-vibrante-0-9: rgba(88, 101, 242, 0.9);
  --azul-vibrante-0-8: rgba(88, 101, 242, 0.8);
  --azul-vibrante-0-7: rgba(88, 101, 242, 0.7);
  --azul-vibrante-0-6: rgba(88, 101, 242, 0.6);
  --azul-vibrante-0-5: rgba(88, 101, 242, 0.5);
  --azul-vibrante-0-4: rgba(88, 101, 242, 0.4);
  --azul-vibrante-0-3: rgba(88, 101, 242, 0.3);
  --azul-vibrante-0-2: rgba(88, 101, 242, 0.2);
  --azul-vibrante-0-1: rgba(88, 101, 242, 0.1);

  /* --azul-aquamarine */
  --azul-aquamarine-0-9: rgba(52, 152, 219, 0.9);
  --azul-aquamarine-0-8: rgba(52, 152, 219, 0.8);
  --azul-aquamarine-0-7: rgba(52, 152, 219, 0.7);
  --azul-aquamarine-0-6: rgba(52, 152, 219, 0.6);
  --azul-aquamarine-0-5: rgba(52, 152, 219, 0.5);
  --azul-aquamarine-0-4: rgba(52, 152, 219, 0.4);
  --azul-aquamarine-0-3: rgba(52, 152, 219, 0.3);
  --azul-aquamarine-0-2: rgba(52, 152, 219, 0.2);
  --azul-aquamarine-0-1: rgba(52, 152, 219, 0.1);

  /* --azul-acizentado */
  --azul-acizentado-0-9: rgba(72, 84, 96, 0.9);
  --azul-acizentado-0-8: rgba(72, 84, 96, 0.8);
  --azul-acizentado-0-7: rgba(72, 84, 96, 0.7);
  --azul-acizentado-0-6: rgba(72, 84, 96, 0.6);
  --azul-acizentado-0-5: rgba(72, 84, 96, 0.5);
  --azul-acizentado-0-4: rgba(72, 84, 96, 0.4);
  --azul-acizentado-0-3: rgba(72, 84, 96, 0.3);
  --azul-acizentado-0-2: rgba(72, 84, 96, 0.2);
  --azul-acizentado-0-1: rgba(72, 84, 96, 0.1);

  /* --azul-contraste */
  --azul-contraste-0-9: rgba(41, 128, 185, 0.9);
  --azul-contraste-0-8: rgba(41, 128, 185, 0.8);
  --azul-contraste-0-7: rgba(41, 128, 185, 0.7);
  --azul-contraste-0-6: rgba(41, 128, 185, 0.6);
  --azul-contraste-0-5: rgba(41, 128, 185, 0.5);
  --azul-contraste-0-4: rgba(41, 128, 185, 0.4);
  --azul-contraste-0-3: rgba(41, 128, 185, 0.3);
  --azul-contraste-0-2: rgba(41, 128, 185, 0.2);
  --azul-contraste-0-1: rgba(41, 128, 185, 0.1);

  /* --verde-contraste */
  --verde-contraste-0-9: rgba(46, 204, 113, 0.9);
  --verde-contraste-0-8: rgba(46, 204, 113, 0.8);
  --verde-contraste-0-7: rgba(46, 204, 113, 0.7);
  --verde-contraste-0-6: rgba(46, 204, 113, 0.6);
  --verde-contraste-0-5: rgba(46, 204, 113, 0.5);
  --verde-contraste-0-4: rgba(46, 204, 113, 0.4);
  --verde-contraste-0-3: rgba(46, 204, 113, 0.3);
  --verde-contraste-0-2: rgba(46, 204, 113, 0.2);
  --verde-contraste-0-1: rgba(46, 204, 113, 0.1);

  /* --verde-vibrante-light */
  --verde-vibrante-light-0-9: rgba(139, 174, 96, 0.9);
  --verde-vibrante-light-0-8: rgba(139, 174, 96, 0.8);
  --verde-vibrante-light-0-7: rgba(139, 174, 96, 0.7);
  --verde-vibrante-light-0-6: rgba(139, 174, 96, 0.6);
  --verde-vibrante-light-0-5: rgba(139, 174, 96, 0.5);
  --verde-vibrante-light-0-4: rgba(139, 174, 96, 0.4);
  --verde-vibrante-light-0-3: rgba(139, 174, 96, 0.3);
  --verde-vibrante-light-0-2: rgba(139, 174, 96, 0.2);
  --verde-vibrante-light-0-1: rgba(139, 174, 96, 0.1);

  /* --cinza-auxiliar */
  --cinza-auxiliar-0-9: rgba(44, 44, 46, 0.9);
  --cinza-auxiliar-0-8: rgba(44, 44, 46, 0.8);
  --cinza-auxiliar-0-7: rgba(44, 44, 46, 0.7);
  --cinza-auxiliar-0-6: rgba(44, 44, 46, 0.6);
  --cinza-auxiliar-0-5: rgba(44, 44, 46, 0.5);
  --cinza-auxiliar-0-4: rgba(44, 44, 46, 0.4);
  --cinza-auxiliar-0-3: rgba(44, 44, 46, 0.3);
  --cinza-auxiliar-0-2: rgba(44, 44, 46, 0.2);
  --cinza-auxiliar-0-1: rgba(44, 44, 46, 0.1);

  /* --branco-auxiliar */
  --branco-auxiliar-0-9: rgba(255, 255, 255, 0.9);
  --branco-auxiliar-0-8: rgba(255, 255, 255, 0.8);
  --branco-auxiliar-0-7: rgba(255, 255, 255, 0.7);
  --branco-auxiliar-0-6: rgba(255, 255, 255, 0.6);
  --branco-auxiliar-0-5: rgba(255, 255, 255, 0.5);
  --branco-auxiliar-0-4: rgba(255, 255, 255, 0.4);
  --branco-auxiliar-0-3: rgba(255, 255, 255, 0.3);
  --branco-auxiliar-0-2: rgba(255, 255, 255, 0.2);
  --branco-auxiliar-0-1: rgba(255, 255, 255, 0.1);

  /* --amarelo-auxiliar */
  --amarelo-auxiliar-0-9: rgba(241, 196, 15, 0.9);
  --amarelo-auxiliar-0-8: rgba(241, 196, 15, 0.8);
  --amarelo-auxiliar-0-7: rgba(241, 196, 15, 0.7);
  --amarelo-auxiliar-0-6: rgba(241, 196, 15, 0.6);
  --amarelo-auxiliar-0-5: rgba(241, 196, 15, 0.5);
  --amarelo-auxiliar-0-4: rgba(241, 196, 15, 0.4);
  --amarelo-auxiliar-0-3: rgba(241, 196, 15, 0.3);
  --amarelo-auxiliar-0-2: rgba(241, 196, 15, 0.2);
  --amarelo-auxiliar-0-1: rgba(241, 196, 15, 0.1);

  /* --vermelho-auxiliar */
  --vermelho-auxiliar-0-9: rgba(231, 76, 60, 0.9);
  --vermelho-auxiliar-0-8: rgba(231, 76, 60, 0.8);
  --vermelho-auxiliar-0-7: rgba(231, 76, 60, 0.7);
  --vermelho-auxiliar-0-6: rgba(231, 76, 60, 0.6);
  --vermelho-auxiliar-0-5: rgba(231, 76, 60, 0.5);
  --vermelho-auxiliar-0-4: rgba(231, 76, 60, 0.4);
  --vermelho-auxiliar-0-3: rgba(231, 76, 60, 0.3);
  --vermelho-auxiliar-0-2: rgba(231, 76, 60, 0.2);
  --vermelho-auxiliar-0-1: rgba(231, 76, 60, 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  max-width: 100vw;
  background: var(--body);
  transition: background-color 3s;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: var(--verde-vibrante);
}

/* ------------------------------- ↓↓↓↓↓ Fonte Responsiva ↓↓↓↓↓ --------------------------------*/

@media all and (min-width: 100px) {
  body {
    font-size: 0.9em;
  }
}
@media all and (min-width: 300px) {
  body {
    font-size: 1em;
  }
}
@media all and (min-width: 500px) {
  body {
    font-size: 1.1em;
  }
}
@media all and (min-width: 700px) {
  body {
    font-size: 1.2em;
  }
}
@media all and (min-width: 900px) {
  body {
    font-size: 1.3em;
  }
}
@media all and (min-width: 1100px) {
  body {
    font-size: 1.4em;
  }
}
@media all and (min-width: 1300px) {
  body {
    font-size: 1.5em;
  }
}
@media all and (min-width: 1500px) {
  body {
    font-size: 1.6em;
  }
}
@media all and (min-width: 1600px) {
  body {
    font-size: 1.7em;
  }
}
@media all and (min-width: 1800px) {
  body {
    font-size: 1.8em;
  }
}

/* ------------------------------- ↓↓↓↓↓ Estilizações Padronizadas ↓↓↓↓↓ --------------------------------*/
button {
  background-color: rgba(39, 174, 96, 0.9);
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border: 2px solid var(--verde-vibrante-light);
  border-radius: 6px;
  transition: background-color 0.3s;
  box-shadow: 1px 3px 6px var(--cinza-auxiliar);
  margin: 1rem;
  cursor: pointer;
}

table button {
  padding: 5px;
}

button:hover {
  background-color: rgba(39, 174, 96, 1);
}

input, textarea, select {
  background-color: rgba(50, 54, 62, 1);
  color: rgba(245, 245, 245, 0.9);
  border: 1px solid rgba(80, 85, 90, 0.5);
  padding: 0.75rem;
  border-radius: 4px;
  font-size: 1.2rem;
  height: 45px;
}

input:focus, textarea:focus {
  outline: none;
  border-color: rgba(39, 174, 96, 0.8);
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid var(--branco-auxiliar);
  justify-content: center;
  text-align: center;
}

th {
  color: var(--amarelo-auxiliar);
  font-weight: 600;
  background-color: var(--cinza-auxiliar) !important;
}

td {
  background-color: var(--azul-acizentado);
}

.card {
  background-color: rgba(45, 48, 58, 1);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

a {
  color: rgba(39, 174, 96, 0.9);
  text-decoration: none;
  transition: color 0.3s;
}
a:hover {
  color: rgba(39, 174, 96, 1);
}

.error {
  color: var(--vermelho-auxiliar);
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

h1 {
  padding-left: 1vw;
  padding-top: 3vh;
}

h2 {
  padding-left: 2vw;
  padding-top: 3vh;
}

h3 {
  padding-left: 3vw;
  padding-top: 3vh;
}

p, form {
  padding-left: 4vw;
  padding-top: 1.5vh;
}

@media (max-width: 768px) {
  h1 { font-size: 2rem; }
  h2 { font-size: 1.75rem; }
  h3 { font-size: 1.5rem; }
  body { padding: 0.5rem; }
}

/* ------------------------------- ↓↓↓↓↓ Transições ↓↓↓↓↓ --------------------------------*/

/* Keyframes para a animação de entrada */
@keyframes fade-enter {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Classe para o elemento durante a animação de entrada */
.fade-enter-active {
  animation: fade-enter 0.2s linear;
}

/* Classe para o elemento durante a animação de saída */
.fade-leave-active {
  transition: opacity 0.2s ease;
  opacity: 0;
}

/* Estado inicial para o elemento que está entrando */
.fade-enter,
.fade-leave-to {
  transition: all 0.2s;
  opacity: 0;
}
